h1 {
  color: rgb(58, 56, 55);
}

.container {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  text-align: center;

}

.img-body {
  padding: 15px;
  margin: auto;
  
}

.thumbnail {
  position:relative;
  display: inline-block;
}

.text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 30%;
  text-align: center;
  width: 60%;
  color: white;
}

button {
  width: 300px;
  height: 40px;
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  
}

img {
  width: 200px;
  height: 200px;
}